textarea{
  resize:vertical;

  &:invalid{
    outline:1px solid red;
    background-color:rgba(255,0,0,0.1);
  }
}

.feedback{

  &-item{
    border:1px solid black;
    margin:10px;
  }
  &-header{
    width:100%;

  }
  &-name{
    float:left;
  }
  &-date{
    float:right;
  }
  &-body{
    clear:left;
  }

  &-add{
    border:1px solid black;

    margin:10px;
    textarea{
      width:70%;
      margin:10px;
    }
  }


}

input[type="radio"]{
  //display:none;
}
label{
  color:gray;
}
input[type="radio"]:checked + label.like{
  color:green;
}
input[type="radio"]:checked + label.dis-like{
  color:red;
}
p.like{
  color:green;
}
p.dislike{
color:red;
}
