header {
    background-color: black;

    .navigation {
        //width: 100%;
        overflow: hidden;

        &-links {
            display: inline-block;
            float: left;

            li {
                display: inline-block;
                color: white;

                a {
                    display: block;
                    padding: 20px;
                    color: white;
                    transition: all 1s ease;
                    background-color: transparent;

                    &:active,
                    &:link,
                    &:visited {
                        text-decoration: none;
                    }

                    &:hover {
                        background-color: red;
                    }
                }
            }
        }

        &-block {
            position: absolute;
            right: 0;
            display: inline-block;
            &-search{
              input[type='text']{
                border-radius:3px;
                border:none;
                font-size:20px;
                &+button[type='submit']{
                  width:23px;
                  height:23px;
                  position:absolute;
                  right:160px;
                  border:none;
                  background-color:transparent;
                }
              }
            }

            ul {
                li {
                    display: inline-block;
                    padding: 20px 5px;

                    a {
                        display: block;
                        text-decoration: none;
                        color: white;

                        &:active,
                        &:hover,
                        &:visited {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
