* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'layout/header';
@import 'pages/book';
@import 'pages/login';
@import 'pages/search-input';
@import 'global';
@import 'pages/sign-up';
@import 'pages/user';
@import 'pages/manager';
@import 'components/panel';



/*navigation*/
