header

    
    
  nav(class="navigation")

    ul(class="navigation-links")
      li
        a(href="/") Home
      li
        a(href="/home") Books
      li(class="user")
        span              
            a(href='/home/'+category+'/'+user) #{user} 
  
    div(class="navigation-block")
      ul
        li
          form(id="", method="", action="/book/5" class="navigation-block-search")
            input(type="text")
            button(type="submit")
              i(class="fa fa-search" aria-hidden="true")
        if !user||user=='guest'
          li
            a(href="/auth/login") Sign in 
              i(class="fa fa-sign-in" aria-hidden="true") 
          li
            a(href="/auth/signUp") Sign Up
        else
          li
            a(href="/auth/logout") Sign out 
              i(class="fa fa-sign-out" aria-hidden="true") 
        
                             
      
      
      

  
  
      
  

         
