header
  nav(class="navigation")

    ul(class="navigation-links")
      li
        a(href="/home") Home
      li
        a(href="#") Books
      li
        span
          -var profile=user||'guest'   
          i(class="fa fa-user" aria-hidden="true") #{profile}
  
    div(class="navigation-block")
      ul
        li
          form(id="", method="", action="" class="navigation-block-search")
            input(type="text")
            button(type="submit")
              i(class="fa fa-search" aria-hidden="true")
        if !profile||profile=='guest'    
          li
            a(href="/auth/login") Sign in 
              i(class="fa fa-sign-in" aria-hidden="true") 
          li
            a(href="/auth/signUp") Sign Up
        else
          li
            a(href="auth/logout") Sign out 
              i(class="fa fa-sign-out" aria-hidden="true") 
        
                             
      
      
      

  
  
      
  

         
