mixin panel(category,user)
  div(class="panel")
    ul(class="panel__container")
      li(class="panel__link")
        a(href="/home/administrator/"+user) Users
      li(class="panel__link")
        a(href="#") Comments
      
  
