include includes/html_header.pug
include includes/navigation.pug
include includes/panel.pug
-var users=data
div(ng-app="app" ng-controller="admin" ng-init="load(false)" class="admin")
  +panel(category,user)
  div(class="angular-component")
    div(class="admin__users--mobile")
      ul(class="device")
        li(ng-repeat="device_item in data" ng-init="device_state=true" class="device__item")
          p 
            span.key Id: 
            span.value {{device_item.id}}
          p 
            span.key Category:  
            span.value {{device_item.category}} 
          p 
            span.key Name:  
            span.value {{device_item.name}} 
          p 
            span.key Surname: 
            span.value {{device_item.surname}} 
          p 
            span.key Country: 
            span.value {{device_item.country}}
          p 
            span.key Email: 
            span.value {{device_item.email}}
          p 
            p.key Password:
              div(ng-show="device_state" class="password value") {{device_item.password}}
              div(ng-hide="device_state" class="password value")
                input(type="text" name="pass" ng-model="device_item.password" ng-value="device_item.password" ) 
          p 
            span.key Options: {{device_item.options}}
            button(ng-click="device_state=false" ng-show="device_state") Change password
            button(ng-click="device_state=!device_state;changePass(device_item)" ng-hide="device_state") Confirm
                
    table(class="admin__users")
      thead
        th Id
        th Category
        th Name
        th Surname 
        th Country 
        th Email 
        th Password
        th Options
      tbody
        tr(ng-repeat="item in data" ng-init="state=true")
          td {{item.id}}
          td {{item.category}}
          td {{item.name}}
          td {{item.surname}}
          td {{item.country}}
          td {{item.email}}
          td 
            div(ng-show="state") {{item.password}}
            div(ng-hide="state")
              input(type="text" name="pass" ng-model="item.password" ng-value="item.password")
          td {{item.options}} 
            button(ng-click="state=false" ng-show="state") Change password
            button(ng-click="state=!state;changePass(item)" ng-hide="state") Confirm
    if category=='administrator'
      div(class="user-create")
        a(href="/auth/signUp") Create new user
      p Mixins #{user} #{category}        
    
