include includes/html_header.pug
include includes/navigation.pug
-var book=data
div( ng-app="app" ng-controller="user" ng-init="load(authenticated)")
  p Title #{book.title}
  
  label(for="select") Order by:
  select(id="select" ng-model="sort")
      option(value="-cur_date") Date (latest)
      option(value="cur_date") Date (Earliest)  
      option(value="feedback") Feedback
      option(value="likes") Like
      option(value="dislikes") Dislike

  
  ul(class="feedback")
    li(ng-repeat="item in b | orderBy: sort" class="feedback-item" )
      div(class="feedback-header")
        p(class="feedback-name") {{item.name}}
        p(class="feedback-date") {{item.cur_date}}
      div(class="feedback-body")
        p(class="feedback-text") {{item.comment}}
        p(ng-class="setFeedback(item.feedback)") FEEDBACK
      p(class="feedback-likes")       
       i(class="fa fa-thumbs-o-up like " aria-hidden="true" ng-click="like(item.id,'like')")
         span(class="quantity") {{item.likes}}
       i(class="fa fa-thumbs-o-down dislike " aria-hidden="true" ng-click="like(item.id,'dislike')")
         span(class="quantity") {{item.dislikes}}


  div(class="feedback-add" )
    form(name="postMessage")
      div
        textarea( ng-model="message" placeholder="Min 10 characters" ng-change="validate()")
        p(class="error-message" ng-hide="authenticated")
          span Please             
            a(href='/auth/login')  sign-in
            or 
            a(href="/auth/signUp") register 
      button(ng-click="load(false)" ng-show="authenticated"  ng-init="state" ng-disabled="feedback_state") Click
      input(type="radio" name="like" id='like' ng-model="feedback" ng-value="true" )
      label(for='like' class="like"  ng-model='state' )
        i(class="fa fa-thumbs-o-up fa-2x" aria-hidden="true")
      input(type="radio" name="like" id='dis-like' ng-model="feedback" ng-value="false" )
      label(for="dis-like" class="dis-like")
        i(class="fa fa-thumbs-o-down fa-2x" aria-hidden="true") 
      
    
