include includes/html_header.pug
include includes/navigation.pug
-var book=data
div( ng-app="app" ng-controller="user" ng-init="load(authenticated)" class="feedback-wrapper")

  p Title #{book.title}
  
  label(for="select") Order by:


  select(id="select" ng-init="sort=cur_date" ng-model="sort" )
      option(value="-cur_date") Date (latest)
      option(value="cur_date") Date (Earliest)  
      option(value="feedback") Feedback
      option(value="suma") Like
      option(value="suma2") Dislike

  
  ul(class="feedback")
    li(ng-repeat="item in b | orderBy: sort" class="feedback__item" )
      div(class="feedback__header")
        p(class="feedback__name") {{item.name}}, 
        p(class="feedback__date") {{item.cur_date | date:'yyyy'}}
      div(class="feedback__body")
        p(class="feedback__text") {{item.comment}}
        p(ng-class="setFeedback(item.feedback)") FEEDBACK {{likes_state}}
      p(class="feedback__likes" ng-init='likes_state=false' )       
       i(class="fa fa-thumbs-o-up like " aria-hidden="true" ng-click="addLike('likes',item.id)" ng-mouseleave="likes_state=false;leave();" ng-mouseenter="likes_state=true;showLikes('likes',item.id,item);")
         span(class="quantity") {{item.suma}}
       i(class="fa fa-thumbs-o-down dislike " aria-hidden="true" ng-click="addLike('dislikes',item.id)" ng-mouseleave="likes_state=false;leave();" ng-mouseenter="likes_state=true; showLikes('dislikes',item.id,item);")
         span(class="quantity") {{item.suma2}}
         
       div( ng-show="likes_state || likes_state " ng-class="{like:item.suma2}" class='feedback__likeNames' ng-if='item.suma2 > 0' )
         ul()
           li(ng-repeat="names in likeNames")
             p {{names.name}}
            



  div(class="comment" )
    form(name="postMessage")
      div
        textarea( ng-model="message" placeholder="Min 10 characters" ng-change="validate()")
        p(class="error-message" ng-hide="authenticated")
          span Please             
            a(href='/auth/login')  sign-in
            or 
            a(href="/auth/signUp") register 
      button(ng-click="addComment()" ng-show="authenticated"  ng-init="state" ng-disabled="feedback_state") Click
      input(type="radio" name="like" id='like' ng-model="feedback" ng-value="true" )
      label(for='like' class="like"  ng-model='state' )
        i(class="fa fa-thumbs-o-up fa-2x" aria-hidden="true")
      input(type="radio" name="like" id='dis-like' ng-model="feedback" ng-value="false" )
      label(for="dis-like" class="dis-like")
        i(class="fa fa-thumbs-o-down fa-2x" aria-hidden="true") 
      
    
