doctype
html(lang="en")
    head
        title
        link(rel="stylesheet" type="text/css" href="./css/style.css")
        script(src="./js/all.js")
    body
        p(class='p') This is paragraph #{title}
        ul
        each item in title
          li #{item.name},#{item.id}  
            span 
              a(href="home/delete/#{item.id}") delete
          
        
