doctype
html(lang="en")
    head
        title
        link(rel="stylesheet" type="text/css" href="../css/style.css")
        
        //-angular
    body
      div(class="container-login")
        div(class="login")
          form(id="form" class="login-form" method="post" action="/myPost")
            div(class="login-form-field")
              -var result=message||""
              label(for="userName") Enter your name 
            
              br
              input(type="text" id="userName" name="username")
            div(class="login-form-field")
              label(for="userPassword") Enter your password
               
              br
              input(type="password" id="userPassword" name="password")
              p(class="message-error")  #{result}
            div(class="login-form-field")
              input(type="submit" value="Log in")
              p
                a(href="/home") Enter as a guest
              p
                a(href="/home/forgot") Forgot your password?
            
