include includes/html_header.pug
include includes/navigation.pug
-var person=profile
p #{person}
  -var books=data
  table
    theader
      th Title 
    tbody
      each item in books
        tr      
          td #{item.title} 
        

          
        
