.feedback-wrapper .feedback {
  width: 50%;
  border: 1px solid red;
  margin: 0 auto;
  list-style-type: none; }
  .feedback-wrapper .feedback__item {
    border: 1px solid black;
    position: relative;
    word-wrap: break-word; }
  .feedback-wrapper .feedback__name {
    display: inline-block; }
  .feedback-wrapper .feedback__date {
    display: inline-block; }
  .feedback-wrapper .feedback__text {
    padding-left: 5%; }
  .feedback-wrapper .feedback__likes {
    text-align: right; }
    .feedback-wrapper .feedback__likes .like {
      color: green; }
    .feedback-wrapper .feedback__likes .dislike {
      color: red; }
  .feedback-wrapper .feedback__likeNames {
    position: absolute;
    right: 0;
    bottom: 20px;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 5px; }
    .feedback-wrapper .feedback__likeNames ul {
      list-style-type: none; }

.feedback-wrapper .comment {
  border: 1px solid black; }
