.navigation {
  overflow: hidden;
  background-color: #248888; }
  .navigation-links {
    display: inline-block;
    float: left; }
    .navigation-links li {
      display: inline-block;
      color: #E6E6E6; }
      .navigation-links li a {
        display: block;
        padding: 20px 20px;
        color: #EFEBD9; }
        .navigation-links li a:link, .navigation-links li a:visited, .navigation-links li a:active {
          text-decoration: none; }
        .navigation-links li a:hover {
          background-color: red; }
  .navigation-block {
    position: absolute;
    right: 0;
    display: inline-block; }
    .navigation-block li {
      display: inline-block;
      padding: 20px 5px; }
