.container-login {
  width: 300px;
  margin: 200px auto 0; }
  .container-login .login {
    background-color: #343d46;
    box-shadow: 2px 2px 2px gray;
    border-radius: 8px;
    min-width: 300px;
    min-height: 185px;
    padding: 15px; }
    .container-login .login-form {
      width: 100%;
      display: inline-block; }
      .container-login .login-form-field {
        margin: 5px 0; }
        .container-login .login-form-field .message {
          color: #b0f37b; }
          .container-login .login-form-field .message-error {
            color: #f5a2a2; }
        .container-login .login-form-field a:active, .container-login .login-form-field a:hover, .container-login .login-form-field a:link, .container-login .login-form-field a:visited {
          color: white; }
        .container-login .login-form-field label {
          display: inline-block;
          color: white; }
        .container-login .login-form-field input[type="password"],
        .container-login .login-form-field input[type='text'] {
          font-size: 20px;
          border-radius: 3px;
          border: 1px solid rgba(128, 128, 128, 0.5);
          background-color: #e7eaef; }
        .container-login .login-form-field input[type="submit"] {
          background-color: #9A9FB6;
          border: none;
          border-radius: 2px;
          padding: 7px; }
          .container-login .login-form-field input[type="submit"]:hover {
            background-color: #e7eaef; }
