.container-search {
  width: 80%;
  margin: 40px auto 0; }
  .container-search .page-quantity {
    color: #ff8f00;
    text-align: center;
    font-size: 22px;
    font-weight: 900; }
  .container-search .controls-next {
    position: fixed;
    top: 50%;
    right: 10px;
    left: auto;
    border: none;
    background-color: #343d46;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white; }
    .container-search .controls-next:hover {
      border: 1px solid #343d46;
      color: black;
      background-color: white; }
  .container-search .controls-prev {
    position: fixed;
    top: 50%;
    right: auto;
    left: 10px;
    border: none;
    background-color: #343d46;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white; }
    .container-search .controls-prev:hover {
      border: 1px solid #343d46;
      color: black;
      background-color: white; }
  .container-search input[type="text"] {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 40px;
    text-align: center; }
    .container-search input[type="text"]:focus {
      outline: none; }
  .container-search .book-list {
    list-style-type: none;
    perspective: 50px; }
    .container-search .book-list .container {
      display: block;
      clear: left;
      overflow: hidden;
      margin: 10px 0;
      padding: 5px;
      transition: all 0.5s ease-in;
      background-color: #F5F5F5;
      border-radius: 5px;
      box-shadow: 2px 2px 2px gray; }
      .container-search .book-list .container-added {
        font-size: 20px;
        background-color: green; }
      .container-search .book-list .container:hover {
        box-shadow: 2px 2px 2px #FF7C5E; }
      .container-search .book-list .container-image, .container-search .book-list .container-text {
        display: inline-block;
        float: left; }
      .container-search .book-list .container-image {
        font-size: 0;
        margin-right: 10px; }
      .container-search .book-list .container-text {
        font-size: 14px; }
