header .navigation {
  overflow: hidden; }
  header .navigation-links {
    display: inline-block;
    float: left; }
    header .navigation-links li {
      display: inline-block;
      color: white; }
      header .navigation-links li a {
        display: block;
        padding: 20px;
        color: white;
        transition: all 1s ease;
        background-color: transparent; }
        header .navigation-links li a:active, header .navigation-links li a:link, header .navigation-links li a:visited {
          text-decoration: none; }
        header .navigation-links li a:hover {
          background-color: red; }
  header .navigation-block {
    position: absolute;
    right: 0;
    display: inline-block; }
    header .navigation-block-search {
      position: relative; }
      header .navigation-block-search input[type='text'] {
        border-radius: 3px;
        border: none;
        font-size: 20px; }
        header .navigation-block-search input[type='text'] + button[type='submit'] {
          width: 23px;
          height: 23px;
          position: absolute;
          right: 0;
          border: none;
          background-color: transparent; }
    header .navigation-block ul li {
      display: inline-block;
      padding: 20px 5px; }
      header .navigation-block ul li a {
        display: block;
        text-decoration: none;
        color: white; }
        header .navigation-block ul li a:active, header .navigation-block ul li a:hover, header .navigation-block ul li a:visited {
          color: white; }

@media all and (max-width: 620px) and (min-width: 0) {
  header .navigation-links {
    display: block;
    float: none; }
    header .navigation-links li {
      display: block;
      text-align: center; }
      header .navigation-links li span {
        display: block; }
  header .navigation-block {
    position: relative;
    width: 100%; }
    header .navigation-block ul li {
      display: block;
      padding: 20px;
      margin: 0;
      text-align: center; }
      header .navigation-block ul li:nth-child(1) {
        display: none; } }

.container-login {
  width: 300px;
  margin: 200px auto 0; }
  .container-login .login {
    background-color: #343d46;
    box-shadow: 2px 2px 2px gray;
    border-radius: 8px;
    min-width: 300px;
    min-height: 185px;
    padding: 15px; }
    .container-login .login-form {
      width: 100%;
      display: inline-block; }
      .container-login .login-form-field {
        margin: 5px 0; }
        .container-login .login-form-field .message {
          color: #b0f37b; }
          .container-login .login-form-field .message-error {
            color: #f5a2a2; }
        .container-login .login-form-field a:active, .container-login .login-form-field a:hover, .container-login .login-form-field a:link, .container-login .login-form-field a:visited {
          color: white; }
        .container-login .login-form-field label {
          display: inline-block;
          color: white; }
        .container-login .login-form-field input[type="password"],
        .container-login .login-form-field input[type='text'] {
          font-size: 20px;
          border-radius: 3px;
          border: 1px solid rgba(128, 128, 128, 0.5);
          background-color: #e7eaef; }
        .container-login .login-form-field input[type="submit"] {
          background-color: #9A9FB6;
          border: none;
          border-radius: 2px;
          padding: 7px; }
          .container-login .login-form-field input[type="submit"]:hover {
            background-color: #e7eaef; }

.container-search {
  width: 80%;
  margin: 40px auto 0; }
  .container-search .page-quantity {
    color: #ff8f00;
    text-align: center;
    font-size: 22px;
    font-weight: 900; }
  .container-search .controls-next {
    position: fixed;
    top: 50%;
    right: 10px;
    left: auto;
    border: none;
    background-color: #343d46;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white; }
    .container-search .controls-next:hover {
      border: 1px solid #343d46;
      color: black;
      background-color: white; }
  .container-search .controls-prev {
    position: fixed;
    top: 50%;
    right: auto;
    left: 10px;
    border: none;
    background-color: #343d46;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white; }
    .container-search .controls-prev:hover {
      border: 1px solid #343d46;
      color: black;
      background-color: white; }
  .container-search input[type="text"] {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 40px;
    text-align: center; }
    .container-search input[type="text"]:focus {
      outline: none; }
  .container-search .book-list {
    list-style-type: none;
    perspective: 50px; }
    .container-search .book-list .container {
      display: block;
      clear: left;
      overflow: hidden;
      position: relative;
      margin: 10px 0;
      padding: 5px;
      transition: all 0.5s ease-in;
      background-color: #F5F5F5;
      border-radius: 5px;
      box-shadow: 2px 2px 2px gray; }
      .container-search .book-list .container-flag {
        width: 30px;
        height: 50px;
        padding-top: 15px;
        position: relative;
        background: #bb0b0b;
        color: white;
        font-size: 11px;
        letter-spacing: 0.2em;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: -5px;
        right: 20px;
        box-shadow: 2px -3px 2px 0px black; }
        .container-search .book-list .container-flag:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 0;
          border-bottom: 20px solid #f5f5f5;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent; }
      .container-search .book-list .container:hover {
        box-shadow: 2px 2px 2px #FF7C5E; }
      .container-search .book-list .container-image, .container-search .book-list .container-text {
        display: inline-block;
        float: left; }
      .container-search .book-list .container-image {
        font-size: 0;
        margin-right: 10px; }
      .container-search .book-list .container-text {
        font-size: 14px; }

header {
  background-color: #343d46; }

.container-sign-up {
  min-width: 300px;
  width: 20%;
  min-height: 200px;
  background-color: #343d46;
  box-shadow: 2px 2px 2px gray;
  padding: 15px;
  border-radius: 8px;
  margin: 100px auto 0; }
  .container-sign-up .sign-up-form fieldset {
    border: none; }
    .container-sign-up .sign-up-form fieldset legend {
      text-align: center;
      color: white; }
  .container-sign-up .sign-up-form-field {
    margin: 5px 0; }
    .container-sign-up .sign-up-form-field label {
      color: white; }
      .container-sign-up .sign-up-form-field label .required {
        color: red; }
    .container-sign-up .sign-up-form-field input[type="text"],
    .container-sign-up .sign-up-form-field input[type="email"],
    .container-sign-up .sign-up-form-field input[type="password"] {
      display: block;
      font-size: 20px;
      border-radius: 3px;
      border: 1px solid rgba(128, 128, 128, 0.5);
      background-color: #e7eaef; }
    .container-sign-up .sign-up-form-field input[type="submit"] {
      background-color: #9A9FB6;
      border: none;
      border-radius: 2px;
      padding: 7px; }
      .container-sign-up .sign-up-form-field input[type="submit"]:hover {
        background-color: #e7eaef; }
    .container-sign-up .sign-up-form-field .message-error {
      color: #f5a2a2; }

.book-filter {
  width: 20%;
  border: 1px solid black;
  display: inline-block;
  height: 300px;
  float: left; }

.book-wrapper {
  float: left;
  width: 80%; }
  .book-wrapper .book {
    border: 1px solid black;
    display: inline-block; }
    .book-wrapper .book-container {
      display: inline-block;
      margin: 10px;
      position: relative;
      width: 100px;
      height: 130px; }
    .book-wrapper .book-img a img {
      box-shadow: 2px 2px 2px gray; }
    .book-wrapper .book-pop_up {
      position: absolute;
      width: 300px;
      height: 200px;
      border: 2px solid brown;
      top: 0;
      left: 100px;
      z-index: 10;
      background-color: white; }
      .book-wrapper .book-pop_up:hover {
        display: block; }

textarea {
  resize: vertical; }
  textarea:invalid {
    outline: 1px solid red;
    background-color: rgba(255, 0, 0, 0.1); }

.feedback-item {
  border: 1px solid black;
  margin: 10px; }

.feedback-header {
  width: 100%; }

.feedback-name {
  float: left; }

.feedback-date {
  float: right; }

.feedback-body {
  clear: left; }

.feedback-add {
  border: 1px solid black;
  margin: 10px; }
  .feedback-add textarea {
    width: 70%;
    margin: 10px; }

label {
  color: gray; }

input[type="radio"]:checked + label.like {
  color: green; }

input[type="radio"]:checked + label.dis-like {
  color: red; }

p.like {
  color: green; }

p.dislike {
  color: red; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*navigation*/
