* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*navigation*/
.navigation {
  padding: 10px;
  border: 1px solid red;
  overflow: hidden; }
  .navigation-links {
    display: inline-block; }
    .navigation-links li {
      display: inline-block;
      margin: 0 10px; }
  .navigation-block {
    display: inline-block;
    float: right; }
    .navigation-block-search {
      display: inline-block; }
      .navigation-block-search input {
        display: inline-block; }
