doctype
html(lang="en")
    head
        title
        link(rel="stylesheet" type="text/css" href="../css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
        script(src="../js/all.js")  
    body
      div(class="container-sign-up")

        form(id="" class="sign-up-form" method="post" action="/auth/signUp"  ng-app="app" ng-controller="signUp")
          fieldset
            legend Registration form  #{category}          
            if category == 'administrator'
              div(class="sign-up-form-field")     
                label(for="user-category") Choose user category         
                select(id="user-category" name="category")
                  option(value="administrator") Admin
                  option(value="manager") Manager 
                  option(value="user") User
            else                                          
            div(class="sign-up-form-field")
              label(for="username") Name
                span(class="required") *
              input(type="text" id="username" name="username"  ng-change="check(userName,'name')"  ng-model="userName"  required="required")
              p(class="message-error" ng-show="state.name") Please try other name  
            div(class="sign-up-form-field")
              label(for="surname") Surname
              input(type="text" id="surname" name="surname")
            div(class="sign-up-form-field")
              label(for="country") Country
              input(type="text" id="country" name="country")
            div(class="sign-up-form-field")
              label(for="email") Email 
                span(class="required") *
              input(type="text" id="email" name="email" ng-change="check(userEmail,'email')"  ng-model="userEmail" required="required" ) 
              p(class="message-error" ng-show="state.email") Please try other email          
            div(class="sign-up-form-field")
              label(for="pass") Password
                span(class="required") *
              input(type="password" id="pass" name="password")
            div(class="sign-up-form-field")            
              input(type="submit" value="Register" ng-disabled="state.email||state.name")
            
        
        
